---
- hosts: web
  tasks:
   - name: "Start the Apache HTTPD Server"
     become: true
     become_user: root
     register: starthttpdout
     shell: "httpd -k start"
     changed_when: "'already running' not in starthttpdout.stdout"

   - debug:
       msg: "{{starthttpdout.stdout}}"
